if TARGET_NSA320

config SYS_BOARD
       string
       default "nsa320"

config SYS_VENDOR
       string
       default "Marvell"

config SYS_CONFIG_NAME
       string
       default "nsa320"

endif
